<div class="views-view-grid">

  {% if header %}
    <div class="views-view-grid__header">
      <h2 class="views-view-grid__title">{{ header }}</h2>
    </div>
  {% endif %}

  {% if rows %}
    <div class="views-view-grid__content">
      <div class="l-grid {{ grid_modifier }}">
        {{ rows }}
      </div>
    </div>
  {% elseif empty %}
    <div class="views-view-grid__empty">
      {{ empty }}
    </div>
  {% endif %}

  {% if pager %}
    <div class="views-view-grid__pager">
      {{ pager }}
    </div>
  {% endif %}

</div>
