<div class="hero-fullscreen {{ modifier }}">
  <div class="hero-fullscreen__media">
    {{ media }}
  </div>
  <div class="hero-fullscreen__content">
    {% if title %}
      <h1 class="hero-fullscreen__title">{{ title }}</h1>
    {% endif %}
    {% if subtitle %}
      <h3 class="hero-fullscreen__subtitle">{{ subtitle }}</h3>
    {% endif %}
    {% if teaser %}
      <div class="hero-fullscreen__teaser">{{ teaser }}</div>
    {% endif %}
    {% if button_url and button_text %}
      <div class="hero-fullscreen__button">
        {% include '@components/buttons/button.twig' with {
          'url': button_url,
          'text': button_text
        } only %}
      </div>
    {% endif %}
  </div>
</div>
