<div class="hero {{ modifier }}" style="background-image: url({{ image }});" role="img" aria-label="{{ image_alt }}">
  <div class="hero__content">
    {% if title %}
      <h1 class="hero__title">{{ title }}</h1>
    {% endif %}
    {% if subtitle %}
      <h3 class="hero__subtitle">{{ subtitle }}</h3>
    {% endif %}
    {% if teaser %}
      <div class="hero__teaser">{{ teaser }}</div>
    {% endif %}
    {% if button_url and button_text %}
      {% include '@components/buttons/button.twig' with {
          'modifier': '',
          'url': button_url,
          'text': button_text
        } %}
    {% endif %}
  </div>
</div>
