{% set additional_attributes = {
  'class': ['block'],
} %}

{% set additional_title_attributes = {
  'class': ['block__title'],
} %}

{% set additional_content_attributes = {
  'class': ['block__content'],
} %}

{% if wrapper %}
  <div {{ add_attributes(additional_attributes) }}>
{% endif %}

  {% if constrain %}
    <div class="{{ constrain }}">
  {% endif %}

  {% if title %}
    {{ title_prefix }}
    <{{ heading ?: 'h2' }} {{ add_attributes(additional_title_attributes, 'title_attributes') }}>{{ title }}</{{ heading ?: 'h2' }}>
    {{ title_suffix }}
  {% endif %}

  {% if content_wrapper %}
    <div {{ add_attributes(additional_content_attributes, 'content_attributes') }}>
  {% endif %}

  {% block content %}
    {{ content }}
  {% endblock %}

  {% if content_wrapper %}
    </div>
  {% endif %}

  {% if constrain %}
    </div>
  {% endif %}

{% if wrapper %}
  </div>
{% endif %}
